<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deliveryboy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Samplee"></activity>
        <activity android:name=".pendingdetails" />
        <activity android:name=".Tab3Fragment" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".VerifyOtp" />
        <activity android:name=".MainActivity" />
        <activity android:name=".forgototp" />
        <activity android:name=".changepassword" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".HistoryDetails" />
        <activity android:name=".upcomingdetails" />
        <activity android:name=".Tab2Fragment" />
        <activity android:name=".Tab1Fragment" />
        <activity android:name=".MainUI" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>